<Html>  
<head>   
<title>  
Registration Page  
</title> 
</head>  
<center><h1>REGISTRATION FORM:</h1></center>
<center><h2>Please fill the registration form and click on the Submit to continue.</h2></center>
<body style="background-color:cadetblue;">  
<br>  
<br>  
<section  class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="color:black;">Registration Form </h3>
<form>  
  

  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputName">FirstName</label>
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="FirstName">
    </div>
     <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputName">LastName</label>
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="LastName">
    </div>
   </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="put your address here">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">City</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">Hydrabad</option>
    <option value="2">Banglore</option>
    <option value="3">Gurgaon</option>
    <option value="4">Bhubaneswar</option>
  </select>
  <div> <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
    <div class="form-group col-md-2">
      <label for="inputZip">postalcode</label>
      <input type="text" class="form-control" id="inputZip">
    </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Agree with Our Terms and Conditions.
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>  
</html>  